body {
 background-color: rgb(31, 31, 31);
 color: rgb(255, 255, 255);
 margin-top: 2em;
}

.container {
  
  margin-top: 2em;
}
.Navbar {
  z-index: 99;
  border: 2px solid red;
  background-color: rgb(31, 31, 31);
  color: antiquewhite;
}

.nav {
  position: absolute;
  left: 0; 
  top: 0;
  margin-top: 2em;
}

.center-container {
  border: 2px solid red;
  z-index: 999;
}

.homeHeader  { 
  margin-top: 2em;
  text-align: center;
}

.footer{
text-align: center;
position: absolute;
bottom: 0;
left: 0;
width: 100%;

}

.springButton{
  background-color: rgb(31, 31, 31);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
 margin-left: 500px;
}

.pic-container {
  display: flex;
  justify-content: center;
  height: 300px;
}
